* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#nav-section {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
}

.nav {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

#main-menu-block {
    align-items: center;
    width: 100%;
    margin-left: 4rem;
}

#main-menu-block > a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    height: fit-content;
    color: black;
    font-size: 16px;
}

body {
    margin: 0px;
}

.content {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.text-image {
    justify-content: space-between;
    margin-top: 4rem;
}

.image {
    width: 60%;
}

    .image > img {
        width: 100%;
    }

.text {
    //border: solid 1px gray;
    padding: 1.5rem;
    width: 30%;
}

    .text > p {
        margin-top: 5rem;
    }

footer {
    height: 10rem;
    background-color: #424154;
}

.footer-rows {
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 auto;
}

#info-banner {
    margin-top: 5rem;
    background-color: #424154;
    padding: 3rem 0px;
}

.info-banner-text {
    text-align: center;
    color: white;
}

#workshops {
    padding-top: 7rem;
}

.workshops-container {
    display: flex;
    justify-content: space-between;
}

.workshop {
    //background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('img/placeholder-1.PNG');
    width: 45%;
    height: 350px;
    background-size: cover;
    padding: 20px;
    display: flex;
}

.workshop-1 {
    background-image: linear-gradient(to bottom, rgb(66, 65, 84, 0), rgb(66, 65, 84)), url('img/folkeskole.jpeg');
    background-position-x: -175px;
}

.workshop-2 {
    background-image: linear-gradient(to bottom, rgb(66, 65, 84, 0), rgb(66, 65, 84)), url('img/outdoor-workshop-2.jpeg');
    background-position-x: -130px;
}

.workshop span {
    color: white;
    align-self: flex-end;
}

#about {
    margin-top: 5rem;
}

.content-box {
    //border: solid 1px gray;
    padding: 30px;
    margin-bottom: 3rem;
}

.people-at-stem {
    display: flex;
    justify-content: space-around;
}

.person-inner {
    display: flex;
}

.person-info {
    padding: 20px;
    //border: solid 1px gray;
    //border-top: none;
}

.profile-pic {
    height: 270px;
    width: 270px;
}

.profile-pic.jasmin {
    background-image: url('img/jasmin-profile-pic.jpg');
    background-size: cover;
}

#partners-section {
    margin-top: 5rem;
}
